/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

/* Typography */

h1 {
    color: white;
    font-size: 40px;
    max-width: 700px;
}

h3 {
    color: white;
    font-size: 28px;
    margin: 10px 0;
}

p {
    color: #999999;
    font-size: 22px;
    margin: 0;
    font-weight: 500;
}

strong {
    text-decoration: none;
    color: #444444;
}

/* Layout */

.container {
    margin: 0 auto;
}

header {
    height: 80vh;
    background-image: url('../images/background_header.jpg');
}

.headerContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;    
}

.headerLeft {
    background-color: #db5461;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
}

.info {
    position: relative;
    top: 180px;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 50px;
}

nav {
    width: 500px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    padding: 0 30px;
    background-color: white;
}

footer {
    background-color: #30343f;
    height: 20vh;
    padding: 40px 0;
}

.footerContainer {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.footerSection {
    display: flex;
}

/* Components */

.cta {
    background-color: white;
    color: #30343f;
    border-radius: 35px;
    border: 5px solid #30343f;
    width: 250px;
    height: 60px;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s;
}

.cta:hover {
    background-color: #30343f;
    color: white;
    border-radius: 35px;
    border: 5px solid #30343f;
    width: 250px;
    height: 60px;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    cursor: pointer;
}

a {
    background-color: white;
    text-decoration: none;
    color: #30343f;
    font-size: 24px;
    padding: 15px 0;
    transition: 0.3s;
}

a:hover {
    background-color: white;
    text-decoration: none;
    color: #30343f;
    font-size: 28px;
    padding: 15px 0;
}


.icon {
    height: 60px;
    width: 60px;
}

.iconDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.captionDiv {
    margin-left: 10px;

}